setuptools==68.2.2
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
idna==3.10
numpy>=2.0.0,<2.3.0
orjson>=3.9.0,<4.0.0
pyfiglet==1.0.3
requests==2.32.4
soupsieve==2.7
typing_extensions==4.14.1
urllib3==2.5.0
websocket-client==1.8.0
fake-useragent==2.2.0
eel==0.16.0
